!!!
%html{html_attrs('en')}
  %head
    %title Example page
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %link{:href => 'style.css', :rel => 'stylesheet'}
  %body
    %p Stuff from the layout; before the main page content

    = yield

    %p Stuff from the layout; after the main page content
